body {
    display: flex;
    justify-content: center;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    width: 900px;
    align-self: center;
}

#logo-left {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 200px;
}

#logo-left h1 {
    font-family: 'Lobster', cursive;
    margin-bottom: 2px;
}

#logo-left p {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    width: 300px;
}

#logo {
    margin-right: 5px;
    align-self: center;
    width: 50px;
    height: 50px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-right {
    display: flex;
    flex-direction: row;
    margin-top: 40px
}

#rightIcons {
    margin-left: 15px;
}

#hr-1, #hr-2 {
    border: 0;
    margin: 1.35em auto;
    /* max-width: 100%; */
    background-position: 50%;
    box-sizing: border-box;

    height: 8px;
    color: black;
    /* color: $color; */
    background-image: linear-gradient(45deg,
    transparent,
    transparent 25%,
    currentColor 25%,
    currentColor 50%,
    transparent 25%,
    transparent 75%,
    currentColor 75%);
    background-size: 5px 5px;
    width: 100%;
    border-radius: 5px;
    color: darkslategrey;
  }

  #article-heading {
      display: flex;
      flex-direction: column;
  }

  #article-title {
      font-family: 'Oswald', sans-serif;
      font-size: 50px;
      margin-bottom: 0px;
  }

  #print-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  #greyArea {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  #print {
      font-size: small;
      font-weight: lighter;
      color: gray;
      font-family: 'Oswald', sans-serif;
  }

  #printer {
      width: 14px;
      height: 14px;
  }

  #post-date {
    font-size: small;
    font-weight: lighter;
    color: gray;
    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
  }
  #p-1, #p-2, #p-3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: lighter;
    color: darkslategray;
    text-indent: 50px;
    margin: 25px 0px;

  }

  #big-picture {
      margin-bottom: 12px;
  }

  #recipe {
      margin-top: 12px;
  }

  #f-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
  }
  #author {
      height: 71px;
      width: 68px;
      margin-top: 23px;
  }

  button {
      height: 55px;
      width: 200px;
      margin-top: 23px;
      background-color: #ba745d;
      color: white;
      font-size: 18px;
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
     
  }

  #food {
      padding-right: 150px;
      color: darkslategrey;
  }

  #hr-2 {
      margin-bottom: 0px;
      color: darkslategrey;
  }

  #hr-3 {
      border: solid px darkslategrey;
  }